{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "commonjs": true
  },
  "rules": {
    "strict": 2,
    "no-alert": 2,
    "no-labels": 0,
    "no-empty-label": 0,
    "no-unused-vars": 0,
    "no-console": 0,
    "no-mixed-spaces-and-tabs": 0,
    "no-extra-boolean-cast": 0
    }
} 
