.DS_Store

# npm packages
node_modules
npm-debug.log
npm-debug.log.*

# *Storm
.idea/*
.idea/workspace.xml

# *Sublime
*.sublime-*

#vscode
.vscode

#jasmine-npm generate
.grunt

# Cordova build
**/build

*.xcarchive

# Android
.gradle
.idea

# karma
coverage