.DS_Store

# npm packages
node_modules
npm-debug.log

# *Storm
.idea/*
.idea/workspace.xml

# *Sublime
*.sublime-*

#vscode
.vscode

#jasmine-npm generate
.grunt

# Cordova build
**/build

*.xcarchive

# Android
.gradle
.idea

# karma
coverage

# QB JS SDK Samples
samples

# QB JS SDK Docs
docs

# QB JS SDK tests
spec

# git
.git
.github
.gitignore

# other files (don't need for development)
.babelrc
.codeclimate.yml
.travis.yml
.jshintrc
.jshintignore
.editorconfig
.eslintignore
.eslintrc
bower.json
jsdoc.conf.json
karma.conf.js
gulpfile.js
