html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.center {
  width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ccc;
}
  .title {
    margin: 0;
    line-height: 80px;    
  }
    .logo {
      margin-right: 20px;
    }

.wrapper {
  min-height: 100%;
  margin: 0 auto -75px;
}
  .login,
  .connecting,
  .chat {
    position: relative;
    height: calc(100% - 75px);
  }
  
  .chat {
    margin-bottom: 20px;
  }

.loginForm {
  width: 300px;
  margin: 40px auto 0;
}
  .loginForm .btn {
    margin-top: 40px;
  }

.footer,
.info {
  width: 100%;
  height: 75px;
  font-size: 16px;
  line-height: 75px;
  background: #efeff4;
  border-top: 1px solid #ccc;
}
.push {
  height: 75px;
}
.info {
  color: #777;
  border: 0;
  border-bottom: 1px solid #ccc;
}

.light {
  font-weight: 300;
}

.users-wrap {
  margin-top: 20px;
  text-align: center;
}

.user {
  text-align: center;
  display: inline-block;
  background: #FFF;
  border: 1px solid #EEE;
  border-radius: 3px;
  width: 80px;
  padding: 10px;
  margin: 0 15px 20px 0;
  cursor: pointer;
  transition: all .2s ease;
}

.user:hover {
  border-color: #4DA7FF;
  box-shadow: 0 0 0 3px #F0F7FE;
}

.user:active, .user.active {
  border-color: #4298ED;
  background: #E4F3FF;
  box-shadow: 0 0 0 3px #F0F7FE;
}

.user:active, .user:focus {
  outline: none;
}

.user:disabled, .user:disabled:hover {
  opacity: .5;
  box-shadow: none;
  border-color: #4298ED;
  background: #E4F3FF;
}

.user .name {
  font-weight: 500;
  color: #666;
}

.streams {
  overflow: hidden;
  margin: 20px 0 20px;
}
  .streams video {
    width: 400px;
    height: 300px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    outline: 0;
  }
  .localControls {
    width: 400px;
    margin-left: 70px;
    position: relative;
    margin-right: 20px;
    float: left;
  }
  .localControls,
  .remoteControls {
    height: 320px;
  }

.controls {
  text-align: center;
}
  .controls button {
    margin-right: 10px;
  }
  .controls button:last-child {
    margin-right: 0;
  }  
    .icon-audiocall {
      width: 19px;
      height: 19px;
      margin-right: 10px;
      vertical-align: text-bottom;
    }
    .icon-videocall {
      width: 27px;
      height: 15px;
      margin-right: 10px;
      vertical-align: text-top;
    }
    .icon-hangup {
      width: 32px;
      height: 12px;
      margin-right: 10px;
      vertical-align: baseline;
    }

.mediacall-controls {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 15px;
  }
    .btn_mediacall {
      width: 60px;
      height: 50px;
      background: rgba(0, 0, 0, 0.57);
      border: 0;
      cursor: pointer;
      transition: opacity .1s ease-in-out;
      outline: 0 !important;
    }
    .btn_mediacall:hover,
    .btn_mediacall.off {
      opacity: 1;
      background: rgba(255, 0, 0, 0.57);
    }
      .btn-icon_mediacall {
        vertical-align: text-bottom;
      }

.incoming .modal-dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 310px;
  height: 127px;
  margin: auto;
}
  .info-notice {
    width: 100%;
    padding: 0 15px;
    font-size: 20px;
    line-height: 25px;
    color: #333;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: inline-block;
  }
  .incoming-call-controls {
    width: 100%;
  }
    .btn_decline,
    .btn_accept {
      outline: 0 !important;
      text-transform: uppercase;
    }
    .btn_decline {
      margin-right: 55px;
      color: #b20001 !important;
    }
    .btn_accept {
      color: #1ec252 !important;
    }
    .btn {
      outline: 0 !important;
    }

/* Flexbox
--------------------------------------------------*/
.l-flexbox {
  display: -webkit-flex; /* For Safari 6.1+ */
  display: -ms-flexbox; /* For IE10 */
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.l-flexbox_flexcenter {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Spinner
--------------------------------------------------*/
.spinner {
  height: 23px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.webrtcp2p .spinner {
  text-align: center;
  margin: 100px 0;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #337ab7;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}