body {
	padding-top: 50px;
}

.navbar-brand {
	padding: 5px 15px;
}

.navbar-brand {
	height: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-nav>li>a {
	padding-top: 20px;
	padding-bottom: 20px;
}

.starter-template {
	padding: 5px;
}

#body_post {
	resize: none;
	height: 150px;
}

#send_post {
	margin-right: 8.5%;
	float: right;
}

#title_post, #body_post {
	margin-bottom: 10px;
}

#load-img {
	display: none;
	margin-top: 20px;
	margin-left: 5px;
}

#add-btn {
	margin-top: 20px;
}