.auth {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #333333;
}

header {

  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: var(--Main-background);

  img {
    padding: 5px;
  }
}
.logo {
  font-size: 24px;
  font-weight: bold;
}


footer {
  background: #fff;
  color: #333333;
  text-align: center;
  padding: 10px;
  font-size: 10px;
  border-top: 1px solid #D9E3F7;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  img {
    height: 10px;
  }
}

@media (max-width: 768px) {
  .login-form {
    padding: 20px;
  }
}
