.container {

  width: 100%;

  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}
.header, .footer {
  background-color: whitesmoke;
  padding: 1rem;
  justify-self: center;
  line-height: 2rem;
  border-bottom: 1px solid #444;
  width: 100%;

  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}
.header mat-form-field, .footer mat-form-field {
  flex: 1;
  margin-left: 0.5rem;
  font-size: 1rem;
}
.header form, .footer form {
  display: flex;
  width: 100%;
}
.header form mat-form-field, .footer form mat-form-field {
  flex: 1;
}
.header mat-icon, .footer mat-icon {
  line-height: 3.5rem;
  font-size: 2rem;
  margin-left: 2rem;
}
.header button, .footer button {
  margin-left: 2rem;
}
.header button.disabled, .footer button.disabled {
  background-color: #666;
}
.body {
  min-height: 30rem;
  max-height: 40rem;
  background-color: white;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
 
}
.body .viewer {
  display: flex;
  flex-direction: column;
  flex: none;
}
.body .viewer .message {
  width: 60%;
  display: flex;
  flex-flow: row;
  margin: 0.5rem;
}
.body .viewer .message .content {
  padding: 0.75rem;
  min-height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  line-height: 2rem;
  background-color: whitesmoke;
  display: flex;
  flex: 1;
}
.body .viewer .message.others {
  flex-direction: row-reverse;
  align-self: flex-end;
}
.body .viewer .message.others .content {
  align-self: flex-end;
  background-color: #458067;
}
.body .viewer .message .badge {
  border-radius: 50%;
  background-color: #888;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
  font-size: 1.5rem;
}
.content__title {
  display: flex;
  padding: 19px 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: #4A4A4A;
  border-bottom: 1px solid #DADFE1;
  flex: 0 0 58px;
  box-sizing: border-box;
}
