<div class="content__title j-content__title j-welcome">
  {{chatId}}
</div>
<div class="container">
  <div  #viewer class="body">
    <div class="viewer">
      <div class="message">
        <div class="badge" >RO</div>
        <div class="content" >
          <span>text</span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <form (submit)="send()">
      <mat-form-field>
        <input name="clientMessage" matInput placeholder="Write a message" type="text" [(ngModel)]="clientMessage">
      </mat-form-field>
      <button mat-fab type="submit">
        <i class="material-icons">send</i>
      </button>
      <button mat-fab (click)="toggleIsBroadcast()" type="button" [ngClass]="{'disabled': !isBroadcast}">
        <i class="material-icons">attach_file</i>
      </button>
    </form>
  </div>
</div>
