.site-head {
	padding: 20px 0;
}

/*#logo {

}*/

.title {
	width: 100%;
	text-align: center;
}

#upload-form {
	margin-top: 10px;
	height: 100px;
}

#upload-img {
	width: 100%;
	padding-left: 10px;
}

#loading-btn {
	margin-top: 10px;
}

#pictures {
	clear: both;
}

.animals.col-md-4.col-sm-6.col-xs-12, .animals.col-md-12.col-sm-12.col-xs-12 {
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

#loadwnd {
	width: 8%;
	height: 2%;
	position: fixed;
	bottom: 5%;
	left: 48%;
	display: none;
}

#progress {
	display: none;
}