body {
	overflow-x: hidden;
}

#upload-form {
	margin-bottom: 10px;
	margin-top: 10px;
}

#upload-img {
	width: 100%;
}

#btn {
	margin-top: 10px;
}

#pictures {
	padding: 10px 20px;
}

.animals.col-md-6.col-sm-6.col-xs-6, .animals.col-md-12.col-sm-12.col-xs-12 {
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}