html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

.txt-warn {
  color: #ff9600;
}

.btn {
  display: block;
  width: 100%;
  height: 40px;

  font: 500 14px/16px 'Roboto', sans-serif;

  cursor: pointer;

  transition: background-color .4s ease;
}
  .btn-action {
    background: #17d04b;

    text-transform: uppercase;
    color: #fff;
  }
  .btn-action:hover {
    background-color: #14ba43;
  }
  .btn-action:active {
    background-color: #74e393;
  }

/* HELPERS */
#preload { display: none; }
/* HELPERS ENDS */

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* APP */
.app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: #fff;

  font: 400 13px/1.25 'Roboto', sans-serif;
  color: #778594;
}


.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 2rem;
}

/* MAP */
.map,
.map_gmap {
  display: block;
  width: 100%;
  height: 100%;
}
    @media all and (min-width: 720px) {
      .map {
        padding: 0 0 0 320px;
      }
    }
/* MAP ENDS */

/** HEADER */
.header {
  background: #fff;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 80px;
  
  z-index: 9;
  
  border-bottom: 1px solid #dadfe1;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, .1);
}

.header__inner {
  padding: 20px;

  display: flex;
  justify-content: space-between;
}

.header__body {
  position: relative;
  padding: 0 0 0 56px;

  overflow: hidden;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

@media all and (min-width: 720px) {
  .header {
    width: 320px;

    border-bottom: none;
    border-right: 1px solid #dadfe1;

    box-shadow: 11px 0 11px -13px rgba(0, 0, 0, .4)
  }
}

.logout {
  min-height: 20px;
  cursor: pointer;
}
  .logout .icon {
    transition: fill .4s ease;
  }
  .logout:hover .icon {
    fill: #17D04B
  }

.header_title {
  margin: 0 0 6px 0;
  
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: #4A4A4A;
}

.header_user {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/** HEADER ENDS */

/* PANEL */
.panel {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: auto;
  max-height: 45vh;

  z-index: 9;
  overflow: auto;

  background: #fff;
}
  .panel::-webkit-scrollbar {
    width: 6px;
  }
  .panel::-webkit-scrollbar-thumb {
    width: 4px;
    margin: 0 5px 0 0;
    border-radius: 2px;
    background-color: #DDE0E2;

    cursor: pointer;
  }
  @media all and (min-width: 720px) {
    .panel {
      width: 320px;
      height: 100%;
      max-height: inherit;

      border-bottom: none;
      border-right: 1px solid #dadfe1;
      box-shadow: 11px 0 11px -13px rgba(0, 0, 0, .4);
    }
  }

.panel__top {
  position: relative;
  margin: 12px 0 0 0;
}

.panel__title {
  padding: 0 20px 0 55px;

  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #4a4a4a;
}

.panel__body {
  margin: 20px;
}

.place__section {
  margin: 0 0 20px;

  font-size: 14px;
  line-height: 21px;
  color: #4A4A4A;
}

.h4 {
  padding: 9px 0 7px 0;
  font-size: 16px;
  line-height: 20px;
  color: #778594;
}

.back {
  display: block;
  width: 20px;
  height: 100%;
  
  position: absolute;
  top: 0;
  left: 20px;

  background: url(https://samples.quickblox.com/web/resources/arrow_back.svg) no-repeat center;

  cursor: pointer;
}
  .back:hover {
    animation-duration: .4s;
    animation-name: back;
    animation-direction: alternate;
  }
  @keyframes back {
    from {
      left: 20px;
    }

    to {
      left: 18px;
    }
  }

/* PLACES */
@media all and (min-width: 720px) {
  .places {
    top: 80px;
    bottom: auto;
    height: 100%;
    padding: 0 0 100px 0;
  }
}
/* PLACES ENDS */

/* PLACES_ITEM */
.place_preview {
  display: block;
  width: 100%;
  padding: 12px 20px;

  background: #fff;

  transition: background-color .4s ease;
  cursor: pointer;
}
  .place_preview:hover {
    background-color: #f2f4f5;
  }
  .place_preview-inactive {
    cursor: default;
  }
  .place_preview-inactive:hover {
    background-color: #fff;
  }

.place_preview__title {
  margin: 0 0 4px 0;

  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: #4A4A4A;
}

.place_preview__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rate {
  margin: 0 0 4px 0;
  color: #ff9100;
}
/* PLACES_ITEM ENDS */

.form_item {
  margin: 20px 0 0 0;
}

.form_item:last-child {
  margin-top: 40px;
}

.inp {
  width: 100%;

  font-size: 16px;
  line-height: 24px;

  border: none;
  border-bottom: 1px solid #c5cace;

  outline: none;
}
  .inp::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #c5cace;
  }