@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* APP */
.app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: #fff;

  font: 400 13px 'Roboto', sans-serif;
  color: #778594;
}

.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 2rem;
}

.map,
.map_gmap {
  display: block;
  width: 100%;
  height: 100%;

  padding: 80px 0 0 0;
}

@media all and (min-width: 720px) {
  .map {
    padding: 0 0 0 320px;
  }
}

/** HEADER */
.header {
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 80px;

  padding: 20px;

  z-index: 9;

  border-bottom: 1px solid #dadfe1;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, .1);
}

@media all and (min-width: 720px) {
  .header {
    width: 320px;

    border-bottom: none;
    border-right: 1px solid #dadfe1;

    box-shadow: 11px 0 11px -13px rgba(0, 0, 0, .4)
  }
}

.header_body {
  position: relative;
  padding: 0 0 0 56px;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.logout {
  cursor: pointer;
  
}
.logout .icon {
  transition: fill .4s ease;
}
.logout:hover .icon {
  fill: #17D04B
}

.header_title {
  margin: 0 0 6px 0;
  
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: #4A4A4A;
}

.header_user {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/** HEADER END */
.panel {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 220px;
  padding: 10px 0 20px 0;
  
  background: #fff;
  box-shadow: 0 -2px 11px 0 rgba(0, 0, 0, .1);

  overflow: auto;
}
  /* Use .app* cause to understand where we have this modifier */
  .app.new_place .panel {
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

.panel::-webkit-scrollbar {
    width: 6px;
}
 
.panel::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
}
 
.panel::-webkit-scrollbar-thumb {
  width: 4px;
  margin: 0 5px 0 0;
  border-radius: 2px;
  background-color: #DDE0E2;

  cursor: pointer;
}

@media all and (min-width: 720px) {
  .panel {
    top: 80px;
    left: 0;

    width: 320px;
    height: 100%;
    padding-top: 0;
    padding-bottom: 100px;

    z-index: 10;

    border-right: 1px solid #dadfe1;

    box-shadow: 11px 0 11px -13px rgba(0, 0, 0, .4);
  }
}

.places_item {
  padding: 12px 20px;
  cursor: pointer;

  transition: background-color .4s ease;
}
.places_item:hover {
  background-color: #f2f4f5;
}

.places_item__title {
  margin: 0 0 4px 0;

  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: #4A4A4A;
}

.rate {
  margin: 0 0 4px 0;

  color: #ff9100;
}

.places_item__desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.back {
  display: block;

  margin: 0 0 10px 0;
  padding: 0 60px;

  background: url(https://samples.quickblox.com/web/resources/arrow_back.svg) no-repeat top left 20px;

  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #4a4a4a;
}

.form-create {
  padding: 0 20px;
}

.form_item {
  margin: 20px 0 0 0;
}

.form_item:last-child {
  margin-top: 40px;
}

.inp {
  width: 100%;

  font-size: 16px;
  line-height: 24px;

  border: none;
  border-bottom: 1px solid #c5cace;

  outline: none;
}
  .inp::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #c5cace;
  }

.btn {
  background: #28C849;
  display: block;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;

  cursor: pointer;
}